/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1A202C; /* Fondo azul oscuro */
    color: #FFFFFF; /* Texto blanco */
    margin: 0;
    padding: 20px 0;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #FFFFFF; /* Caja blanca para las preguntas */
    color: #2D3748; /* Texto oscuro para mejor legibilidad */
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: auto;
    overflow-y: auto;
}

h1 {
    text-align: center;
    color: #2F855A;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

p, .warning {
    color: #2D3748;
    line-height: 1.6;
}

.warning {
    background-color: #F6E05E;
    color: #744210;
    font-weight: bold;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.question label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.question select,
.question input[type="radio"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CBD5E0;
    background-color: #F7FAFC;
    color: #2D3748;
    font-size: 16px;
}

.subquestion {
    margin-bottom: 10px;
}

.subquestion label {
    display: block;
    margin-bottom: 5px;
}

.subquestion select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #CBD5E0;
    background-color: #EDF2F7;
    color: #2D3748;
    font-size: 14px;
}

.submit-button {
    text-align: center;
    margin-top: 30px;
}

.submit-button button {
    width: 50%;
    padding: 12px;
    background-color: #3182CE;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button button:hover {
    background-color: #2B6CB0;
}

.result {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #2C7A7B;
    background-color: #E6FFFA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .question select,
    .question input[type="radio"] {
        font-size: 14px;
        padding: 8px;
    }

    .submit-button button {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .result {
        font-size: 18px;
    }
}

